body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 23px;
    background-color: cornflowerblue;
}

#main-play-area {
    background-color: black;
    background-image: url(img/space.png);
    margin-top: 30px; 
    height: 560px; 
    width: 600px;
}

.game-instructions {
    position: relative;
    color: white;
    left: 5rem;
    top: 0px;
}

.punctuation {
    color: white;
    font-size: 18px;
    opacity: 0.4;
    position: relative;
    left: 445px;
    top: -40px;
}

.start-button {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px; 
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}
